<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>课程教学平台</title>

<!-- 引入公共CSS -->
<div th:replace="/common/component :: PUBLIC-CSS"></div>

<!-- My css -->
<link th:href="@{/css/releaseHomework.css}" rel="stylesheet">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- 引入公共菜单 -->
			<div th:replace="/common/component :: MENU"></div>


			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>

						<ul class="nav navbar-nav navbar-right">
							<li class=""><a href="javascript:;"
								class="user-profile dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false"> <img
									th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.titleImg}"
									alt=""
									th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.name}">
									<span class=" fa fa-angle-down"></span>
							</a>
								<ul class="dropdown-menu dropdown-usermenu pull-right">
									<li><a href="javascript:;"> Profile</a></li>
									<li><a href="javascript:;"> <span
											class="badge bg-red pull-right">50%</span> <span>Settings</span>
									</a></li>
									<li><a href="javascript:;">Help</a></li>
									<li><a href="login.html"><i
											class="fa fa-sign-out pull-right"></i> Log Out</a></li>
								</ul></li>

							<li role="presentation" class="dropdown"><a
								href="javascript:;" class="dropdown-toggle info-number"
								data-toggle="dropdown" aria-expanded="false"> <i
									class="fa fa-envelope-o"></i> <span class="badge bg-green">6</span>
							</a>
								<ul id="menu1" class="dropdown-menu list-unstyled msg_list"
									role="menu">
									<li><a> <span class="image"><img
												src="/gentelella/images/img.jpg" alt="Profile Image" /></span> <span>
												<span>John Smith</span> <span class="time">3 mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li><a> <span class="image"><img
												src="/gentelella/images/img.jpg" alt="Profile Image" /></span> <span>
												<span>John Smith</span> <span class="time">3 mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li><a> <span class="image"><img
												src="/gentelella/images/img.jpg" alt="Profile Image" /></span> <span>
												<span>John Smith</span> <span class="time">3 mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li><a> <span class="image"><img
												src="/gentelella/images/img.jpg" alt="Profile Image" /></span> <span>
												<span>John Smith</span> <span class="time">3 mins ago</span>
										</span> <span class="message"> Film festivals used to be
												do-or-die moments for movie makers. They were where... </span>
									</a></li>
									<li>
										<div class="text-center">
											<a> <strong>See All Alerts</strong> <i
												class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
								</ul></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>我的作业</h3>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业一作业一作业一作业一</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业二作业二作业二作业二</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业三作业三作业三作业三</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业四作业四作业四作业四</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业五作业五作业五作业五</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业六作业六作业六作业六</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/student/doHomework}" title="作业">作业七作业七作业七作业七</a>
									</h2>
									<ul class="nav navbar-right panel_toolbox">

										<li class="dropdown"><a href="#" class="dropdown-toggle"
											data-toggle="dropdown" role="button" aria-expanded="false">
										</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：</font> <br> <font size="3">截止时间：</font>
										<br> <font size="3">作业状态：</font> <br>


									</div>


									<div id="footer">

										<button onclick="window.location.href='doHomework.html'"
											type="button" class="btn btn-danger btn-sm"
											style="width: 100%;">做作业</button>
									</div>
								</div>

							</div>
						</div>






					</div>
				</div>
			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a
						href="https://colorlib.com">Colorlib</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

	<!-- 引入公共JS -->
	<div th:replace="/common/component :: PUBLIC-JS"></div>

</body>
</html>
