<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>课程教学平台</title>
<div th:replace="/common/component :: PUBLIC-CSS"></div>
<!-- My css -->
<link th:href="@{/css/teacherHomework.css}" rel="stylesheet">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<!-- 引入公共菜单 -->
			<div th:replace="/common/component :: MENU"></div>

			<!-- top navigation -->
			<div class="top_nav">
				<div class="nav_menu">
					<nav>
						<div class="nav toggle">
							<a id="menu_toggle"><i class="fa fa-bars"></i></a>
						</div>
						<div class="nav c-toggle">
							<div class="c-title">
								<h2>
									<a href="/turnPage/teacher/allTeacherCourses"
										title="Java高级编程Java高级编程Java高级编程">Java高级编程Java高级编程Java高级编程</a>
								</h2>
							</div>
						</div>

						<ul class="nav navbar-nav navbar-right" th:replace="/common/component :: NAV-COURSE—TOP-MENU">


							<li class="nav-li"><a
								th:href="@{/turnPage?role=teacher&pn=allTeacherCourses-index}">首页</a></li>
							<li class="nav-li"><a href="#">任务</a></li>
							<li class="nav-li"><a
								th:href="@{/turnPage?role=teacher&pn=allTeacherCourses-dataStatistics}">统计</a></li>
							<li class="nav-li"><a
								th:href="@{/turnPage?role=teacher&pn=allTeacherCourses-material}">资料</a></li>
							<li class="nav-li"><a href="#">通知</a></li>
							<li class="nav-li nav-li-active"><a
								th:href="@{/turnPage?role=teacher&pn=allTeacherCourses-homework}">作业</a></li>
							<li class="nav-li"><a href="#">考试</a></li>
							<li class="nav-li"><a href="#">讨论</a></li>


							<!-- 引入公共个人数据设置和收件箱预览 -->
							<li th:include="/common/component :: NAV-RIGHT-SETTING"></li>
							<li th:include="/common/component :: NAV-RIGHT-INBOX"></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>课程作业</h3>
						</div>

						<div class="title_right">
							<div
								class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="Search for..." id="search"> <span
										class="input-group-btn">
										<button class="btn btn-default" type="button">Go!</button>

									</span>
									<div class="col-md-2 col-sm-2 col-xs-2">
										<button id="tableInsert" type="button" class="btn btn-primary"
											data-toggle="modal" data-target="#insertModal">新增作业</button>
									</div>
								</div>


							</div>
						</div>

					</div>
	<!-- 增加 -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="insertModal">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">课程作业添加</h4>
	      </div>
	      <!-- 主题内容 -->
	      <div class="modal-body">
	        <div class="row">
	           	<div class="col-md-6">
	         		<div class="input-group">
					  	<span class="input-group-addon" >课程id</span>
					  	<input type="text" class="form-control" id="insertJobCourseId" aria-describedby="basic-addon3">
					</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="input-group">
					  <span class="input-group-addon" >作业名称</span>
					  <input type="text" class="form-control" id="insertJobJobName" aria-describedby="basic-addon3">
					</div>
			  	</div>
	          	<div class="col-md-6">
	         		<div class="input-group">
					  	<span class="input-group-addon" >作业描述</span>
					  	<input type="text" class="form-control" id="insertJobDescription" aria-describedby="basic-addon3">
					</div>
	          	</div>
	          	 	<div class="col-md-6">
	         		<div class="input-group">
					  	<span class="input-group-addon" >开始时间</span>
					  	<input type="text" class="form-control" id="insertJobReleaseDate" aria-describedby="basic-addon3">
					</div>
	          	</div>
	          		<div class="col-md-6">
	         		<div class="input-group">
					  	<span class="input-group-addon" >截止时间</span>
					  	 <input type="text" class="form-control" id="insertJobEndDate" aria-describedby="basic-addon3">
					</div>
	          	</div>
	          	 	<div class="col-md-6">
	         		<div class="input-group">
					  	<span class="input-group-addon" >序号</span>
 					<input type="text" class="form-control" id="insertJobSeq" aria-describedby="basic-addon3">
					  	
					</div>
	          	</div>
	          	 <div class="col-md-6">
	         		<div class="input-group">
					  	<span class="input-group-addon" >成绩</span>
					  	<input type="text" class="form-control" id="insertJobTotalSocre" aria-describedby="basic-addon3">
					</div>
	          	</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="button" class="btn btn-primary" id="insertBtn">提交</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->




					<div class="clearfix"></div>

					<!-- 隐藏域course_id -->
					<input type="text" id="cid" th:value="${param.cid}" style="display:none;">
					
					<div class="row" id="rows">
					
					<!--  
						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/teacher/doHomework}" title="作业">作业一作业一作业一作业一</a>
									</h2>

				

									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：2019年6月1日 8:20:00</font> <br> <font
											size="3">截止时间：2019年6月6日 8:20:00</font> <br> <font
											size="3">作业状态：未提交</font> <br>
									</div>

									<div id="footer">

									
										<button type="button" class="btn btn-success btn-sm">批改作业</button>
										<button type="button" class=" btn btn-warning btn-sm"
											data-toggle="modal" data-target="#updateModal">修改作业</button>
										<button type="button" class="btn btn-danger btn-sm">删除作业</button>

									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/teacher/doHomework}" title="作业">作业二作业二作业二作业二</a>
									</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：2019年6月1日 8:20:00</font> <br> <font
											size="3">截止时间：2019年6月6日 8:20:00</font> <br> <font
											size="3">作业状态：未提交</font> <br>
									</div>

									<div id="footer">

										
										<button type="button" class="btn btn-success btn-sm">批改作业</button>
										<button type="button" class=" btn btn-warning btn-sm"
											data-toggle="modal" data-target="#updateModal">修改作业</button>
										<button type="button" class="btn btn-danger btn-sm">删除作业</button>
									</div>
								</div>

							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-3">
							<div class="x_panel">
								<div class="x_title">
									<h2>
										<a th:href="@{/turnPage/teacher/doHomework}" title="作业">作业三作业三作业三作业三</a>
									</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content" id="content">
									<div class="content-info" id="testClick">
										<font size="3">开始时间：2019年6月1日 8:20:00</font> <br> <font
											size="3">截止时间：2019年6月6日 8:20:00</font> <br> <font
											size="3">作业状态：未提交</font> <br>
									</div>

									<div id="footer">

										
										<button type="button" class="btn btn-success btn-sm">批改作业</button>
										<button type="button" class=" btn btn-warning btn-sm"
											data-toggle="modal" data-target="#updateModal">修改作业</button>
										<button type="button" class="btn btn-danger btn-sm">删除作业</button>

									</div>

								</div>

							</div>
						</div>
						-->


					</div>
				</div>
			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div class="pull-right">
					Gentelella - Bootstrap Admin Template by <a
						href="https://colorlib.com">Colorlib</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>


	<!-- 修改 -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
		id="updateModal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">课程作业修改</h4>
				</div>
				<!-- 主题内容 -->
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">课程名称</span> <input type="text"
									class="form-control" id="updateHomework"
									aria-describedby="basic-addon3">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">开始时间</span> <input type="text"
									class="form-control" id="updateHomeworkTime"
									aria-describedby="basic-addon3">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">截止时间</span> <input type="text"
									class="form-control" id="updateEndTime"
									aria-describedby="basic-addon3">
							</div>
						</div>


					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateBtn">提交</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->



	<!-- 引入公共JS -->
	<div th:replace="/common/component :: PUBLIC-JS"></div>
	<script type="text/javascript" th:src="@{js/allTeacherCourses-homework.js}"></script>

</body>
</html>
